* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--MARRON: #6C552B;
	--DORADO: #DBA854;
	--CAMEL: #FEFEDA;
	--GRIS: #363734;
	--NEGRO: #0E0F11;
	--AZUL: #0D1621;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Afacad, sans-serif;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	color: var(--DORADO);
}

/* Navbar dentro de cada sección */
.navbar {
	padding: clamp(0.5rem, 2vw, 1.5rem);
	display: flex;
	justify-content: flex-end;
	gap: clamp(1rem, 3vw, 2.5rem);
}

.navbar a {
	color: var(--CAMEL);
	text-decoration: none;
	font-size: 1.2rem;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s ease;
	padding: clamp(0.3rem, 1vw, 0.8rem) clamp(0.5rem, 2vw, 1rem);
}

.navbar a:hover {
}

.navbar a.active {
	background-color: white;
}

/* Contenedor del contenido principal */
.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

#inicio {
	background-image: url("static/images/libros.png"); 

}

#estudio {
	background-color: var(--AZUL);
}

#servicios_legales {
	background-color: var(--AZUL);
}

#contacto {
	background-color: var(--AZUL);
}
